<div style = 'color:red'>
  <% if @comment_error %>
    <%=@comment_error %>
  <% end %>
</div>
<div class="comment-container">

  <div class="comment-header">
    <span class="comment-poster">  </span>
    <span class="comment-date"> <%=comment.date%> </span>
  </div>
  <div class="comment-body">
    <p class="comment-text">
    <%=comment.text%>
    <% comment.comments.all.each do | reply | %>
      <p style='margin-left:30px'><%=reply["text"]%></p>
    <% end %>
    <form method="post" class="form form-inline" action="/comments">
      <div class="form-group">
        <input type="hidden" name="video_id" value="<%=@video["slug"]%>"/>
      </div>
      <div class="form-group">  
        <input type="hidden" name="parent_id" value="<%=comment["id"]%>"/>
      </div>
      <div class="form-group">
        <input type="text" class="form-control" name="message" placeholder="Enter reply..." />
      </div>
      <button type="submit" class="btn btn-submit">Reply</button>
    </form>
    </li>
    </p>
  </div>
</div>
