<div class="comment-container">
  <div class="comment-header">
    <span class="comment-poster"> <%=comment.user.name%> </span>
    <span class="comment-date"> <%=comment.creation_date%> </span>
  </div>
  <div class="comment-body">
    <p class="comment-text">
      <%=comment.message%>
    </p>
    <a href="<%="##{comment.id}"%>"> Reply </a>
  </div>
  <% if comment.reply_count > 0 %>
    <div class="comment-replies">
      <% @commentProvider.get_comments(start: 0, max: 20, parent_id: comment.id).each do |reply| %>
        <%= erb :comment_container, :locals => {:comment => reply, :depth => depth + 1} %>
      <% end %>
    </div>
  <% end %>
</div>
