<div class="quiz">
  <% if @score %>
    You scored <%= @score %>
  <% end %>
  <form method = "post">
    <% @questions.each do |question| %>
      <div><%= question['question'] %></div>
      <select name="question[<%= question['id'] %>]">
        <% question['answers'].each do |answer| %>
          <option value="<%= answer['id'] %>" <%= 'selected' if @answers and @answers[question['id'].to_s].to_i == answer['id'] %> >
            <%= answer['answer'] %>
          </option>
        <% end %>
      </select>
      <% if @correct_questions[question['id']] == true %>
        Correct
      <% elsif @answers %>
        Incorrect
      <% end %>
    <% end %>
    <p><input type="submit" value="Submit" /></p>
    <% if @previous_scores %>
      <h3>Your previous scores</h3>
      <% @previous_scores.each do |score| %>
        <p><%= score.score %> on <%= score.date %></p>
      <% end %>
    <% end %>
  </form>
</div>
